.main{width: 100%; background-color: #101820;}
.main .container__index__main{height: 100%;}
.main .container__index__main .main__section:first-child{display: flex; flex-direction: column; justify-content: center; align-items: center; height: calc(100vh - 70px); position: relative;}
.main .container__index__main .main__section:last-child{display: flex; align-items: center; height: 100vh; position: relative;}
.main .container__index__main .main__section:first-child::after{content: ''; width: 2000px; height: 1px; background-color: #636e72; position: absolute; bottom: 0;}
.main .container__index__main .main__section:last-child::after{content: ''; width: 2000px; height: 1px; background-color: #636e72; position: absolute; left: -500px; bottom: 0;}


.main .greeting{width: 75%; padding: 1px; text-align: center;}
.main .greeting > h1{margin-top: 24px; font-size: 40px; color: #dfe6e9; line-height: 1.5; letter-spacing: 1.5px; word-break: keep-all; animation: slide-up 1.5s;}
.main .greeting > h2{width: 75%; margin: 24px auto 54px; font-size: 32px; color: #b2bec3; line-height: 1.3; letter-spacing: 1.5px; word-break: keep-all; animation: slide-up 2s;}

.main .button__index__main{padding: 8px 30px; font-size: 20px; color: #dfe6e9; letter-spacing: 2px; animation: slide-up 2.5s;}

.main .introduce{display: grid; grid-template-rows: 100%; grid-template-columns: repeat(4, 1fr);}
.main .introduce > div{height: 500px; margin: 0 16px; padding: 64px 16px 32px; position: relative; transition: .5s; cursor: pointer;}
.main .introduce > div::after{content: ''; display: none; background-color: rgba(0, 0, 0, .3); position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.main .introduce > div:hover .introduce__title{transform: translateY(0);}
.main .introduce > div:hover .introduce__expression{transform: translateY(0); opacity: 1;}
.main .introduce > div:hover::after{display: block;}
.main .introduce .introduce__title{margin: 40px 0 16px; background-color: rgba(16, 24, 32, .6); font-size: 32px; color: #ecf0f1; font-weight: 700; text-align: center; word-break: keep-all; transition: 0.7s; transform: translateY(60px);}
.main .introduce .introduce__expression{padding: 32px 0; background-color: rgba(16, 24, 32, .6); font-size: 20px; color: #ecf0f1; text-align: center; word-break: keep-all; transition: 0.7s; transform: translateY(60px); opacity: 0;}

.main .introduce .introduce__board{background-image: url(../../../public/img/board.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;}
.main .introduce .introduce__chat{background-image: url(../../../public/img/chat.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;}
.main .introduce .introduce__memory{background-image: url(../../../public/img/memory.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;}
.main .introduce .introduce__ranking{background-image: url(../../../public/img/ranking.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;}

@keyframes slide-up {
  0%{opacity: 0;}
  40%{opacity: 0; transform: translateY(50%);}
}