/* MemberList */
.allMembers {width: 90%; height: 100%; margin: 0 auto; position: relative; overflow: auto; scrollbar-color: rgba(237, 66, 100, .6) rgba(255, 255, 255, 0); scrollbar-width: thin}

.memberList {display: grid; grid-template-columns: repeat(4, 1fr);}

.member_card {display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 16px; padding: 16px 0; border-radius: 4px; background-color: rgba(255,255,255,0.7); transition: .3s;}
.member_card:hover{background-color: rgba(200, 214, 229, .6);}

.member_card > .top{width: 80px; height: 80px; margin-bottom: 4px;}
.member_card > .top > img{width: 100%; height: 100%; border-radius: 50%;}

.member_card > .mid{display: flex; flex-direction: column; justify-content: center; align-items: center; min-width: 200px;}
.member_card > .mid > .displayName{font-size: 24px; font-weight: 500; text-align: center; letter-spacing: 1.5px;}
.member_card > .mid > .name{margin-bottom: 2px; font-size: 16px; color: #444; text-align: center; letter-spacing: 1.5px;}
.member_card > .mid > .introduce{max-width: 200px; margin: 0 8px 8px; font-size: 16px; color: #5e5e5e; text-align: center; letter-spacing: 1.2px; word-break: keep-all;}

.member_card > .bot{margin: 0 16px;}
.member_card > .bot > div{letter-spacing: 1.5px; word-break: keep-all;}

.filter--info{width: 130px; height: 40px; padding: 8px 16px; background-color: rgba(255, 255, 255, .7); border: none; border-radius: 5px; position: absolute; top: -60px; right: 80px;}

@media screen and (max-width: 1580px) {
    .memberList{grid-template-columns: repeat(3, 1fr);}
}