.myTeam{background-color: #101820;}

.myTeam > .container__myTeam{display: flex; flex-direction: column;}
.myTeam > .container__myTeam > h1{margin: 32px 0 24px 0; font-size: 24px; color: #3498db;}
.myTeam > .container__myTeam .teams{display: grid; grid-template-columns: repeat(3, 1fr);}

.team{display: flex; flex-direction: column; width: 290px; margin: 16px 0 32px 0;}

.team > .team_image{width: 100%; height: 290px;}
.team > .team_image > img{width: 100%; height: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px;}

.team > .team_name{width: 100%; padding: 16px 0; position: relative; background-color: #fff; font-size: 20px; color: #2d2d2d; text-align: center; letter-spacing: 1.5px;}
.team > .team_name:hover::after{content: 'Enter!'; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: #101820; font-size: 28px; color: #3498db; font-weight: 700; cursor: pointer;}

.team > .team_introduce{width: 100%; padding: 4px 0 8px 0; background-color: #fff; font-size: 12px; color: #4d4d4d; text-align: center;}

.team > .team_info{display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; padding: 8px 0 16px 0; background-color: #fff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}
.team > .team_info li{display: flex; flex-direction: column; justify-content: center; width: 33%; border-right: 1px solid #ecf0f1;}
.team > .team_info li:last-child{border: none;}
.team > .team_info li .info_name{font-size: 12px; color: #2d2d2d; text-align: center;}
.team > .team_info li .info_content{font-size: 16px; color: #4d4d4d; text-align: center;}