.header{display: flex; justify-content: end; align-items: center; width: 100%; height: 70px; background-color: #cacaca;}
.header > button{margin-right: 12px;}

.myTeams{padding: 32px; background-color: #e7bfb2;}
.myTeams > h3{margin-bottom: 16px; font-size: 24px;}
.myTeams > .myTeam{width: 240px; padding: 8px; border: 1px solid #2d2d2d; cursor: pointer;}
.myTeams > .myTeam > h1{margin-bottom: 8px; font-size: 24px;}
.myTeams > .myTeam > h2{margin-bottom: 4px; font-size: 16px;}

.sample{display: flex; justify-content: center; align-items: flex-start; height: 500px; padding: 24px; border-top: 1px solid #2d2d2d; background-color: #e7bfb2;}
.sample .create_team,
.sample .join_team{display: inline-flex; padding: 8px; font-size: 24px; border: 1px solid #2d2d2d;}
.sample .create_team{margin-right: 16px;}