/* Post */
.postList{height: 100%; overflow: scroll; width: 100%; background-color: white;}
.post{margin-left: 12px; margin-right: 12px; padding: 10px; display: flex; justify-content: space-between; border-bottom: 1px solid black;}
.writeHidden { visibility: hidden; max-height: 0px;}
.writeMode {height: 5%;}
.postMaker {width: 100%; height: auto; margin: 0; display: flex; flex-direction: column; align-items: center;}
.titleInput { margin:8px; width: 70%; height: 40px;}
.submitButton { width: 64px; height: 24px; font-size: 16px; border: none; background: white; border-radius: 5px; margin-top: 12px;}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {width: 100%; min-height: 300px; }
.writeModeBtn {height: 5%; width: 5vw; margin: 8px; border-radius: 10%;}