/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

/* RESET */
* {
  margin: 0;padding: 0;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif; color: #2d2d2d; line-height: 1.6;
  box-sizing: border-box; outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}

/* COMMON */
.App{
  height: 100vh;
}

/* FLOAT & CLEARFIX */
.float--left{float: left;}
.float--right{float: right;}
.clearfix::after{content: ''; clear: both; display: block;}

/* GRID */
.client-container{
    height: 100%;
    background: -webkit-linear-gradient(19deg, rgb(237, 66, 100), rgb(95, 195, 228));
    background: linear-gradient(19deg, rgb(237, 66, 100), rgb(95, 195, 228));  
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 140px 140px repeat(10, 1fr);
    grid-template-areas: 
    "nav nav main main main main main main main aside1 aside1 asdie1"
    "nav nav main main main main main main main aside2 aside2 asdie2";
}
#nav{grid-area: nav;}
#main{grid-area: main;}
#aside1{grid-area: aside1;}
#aside2{grid-area: aside2;}

/* NAV */
#nav{max-width: 280px; height: 100%; padding-top: 1px; background-color: rgba(2, 52, 63, .4); position: relative;}
#nav ul{margin-top: 12px;}
#nav ul li{height: 40px;}
#nav ul li a{display: block; padding-left: 12px; font-size: 18px; line-height: 40px; transition: .2s ease-in-out;}
#nav ul li a:hover{background-color: #2d2d2d; color: #fff; text-decoration: none;}

#nav .signedUser{display: flex; align-items: center; margin-left: 12px; position: absolute; bottom: 80px;}
#nav .signedUser .signedUser--img{width: 70px; height: 70px; margin-right: 12px; border-radius: 50%;}
#nav .signedUser .signedUser--txt{cursor: pointer;}
#nav .signedUser .signedUser--txt .signedUser__email{font-size: 12px;}

#nav footer{margin-left: 12px; position: absolute; bottom: 12px; font-size: 12px;}
#nav .footer--top{letter-spacing: 1.4px;}
#nav .footer--bot{letter-spacing: 1.1px;}

/* MAIN */
#main{padding: 100px 150px;}
#main .rankingContainer{width: 100%; height: 100%; overflow: auto;}
#main .rankingContainer .ranking{background-color: rgba(212, 228, 230, 0.4);}
#main .ranking .ranking-item{height: 100px; border-bottom: 2px solid black;}