/* UserInfo */
.usersInformation {width: 100%; height: 100%; overflow: auto;}
.userList {display: flex; flex-wrap: wrap;}
.usersInformation .userInfo {width: 45%; margin:12px; padding: 4px;border-radius: 12px; display: flex; background-color: rgba(255,255,255,0.1);}
.usersInformation .userInfo .userInfoRightSide{padding: 8px; width:100%; display: flex; flex-direction: column; justify-content: space-between;}
.usersInformation .userInfo .userInfoRightSide .userInfoUpSide{display: flex; justify-content: space-between; padding: 8px;}
.usersInformation .userInfo .userInfoRightSide .userInfoBottomSide{display: flex; justify-content: space-between; padding: 8px;}
.win_lose {display: flex;}
.chartSample {width: 800px; height: 400px; background-color: white;}
.userImage{width:84px; height: 108px; border-radius: 40%;}
/* Post */
.postList{height: 100%; overflow: scroll; width: 100%; background-color: white;}
.post{margin-left: 12px; margin-right: 12px; padding: 10px; display: flex; justify-content: space-between; border-bottom: 1px solid black;}
.writeHidden { visibility: hidden; max-height: 0px;}
.writeMode {height: 5%;}
.postMaker {width: 100%; height: auto; margin: 0; display: flex; flex-direction: column; align-items: center;}
.titleInput { margin:8px; width: 70%; height: 40px;}
.submitButton { width: 64px; height: 24px; font-size: 16px; border: none; background: white; border-radius: 5px; margin-top: 12px;}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {width: 100%; min-height: 300px; }
.writeModeBtn {height: 5%; width: 5vw; margin: 8px; border-radius: 10%;}