/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

/* RESET */
* {
  margin: 0;padding: 0;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif; color: #2d2d2d; line-height: 1.6;
  box-sizing: border-box; outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
a:hover{color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}

#main{width: 100%; height: 100vh;}

/* CONTAINER */
.container{width: 1080px; margin: 0 auto;}

/* LOADING */
.loading{width: 100%; height: 100%;}

/* BUTTON */
.button{display: inline-flex; justify-content: space-between; align-items: center; height: 40px; padding: 0 16px; background-color: rgba(255, 255, 255, 0.7); border-radius: 5px; cursor: pointer;}
.button:hover{background-color: rgba(180, 180, 180, 0.8);}

/* BUTTON__INDEX */
.button__index{display: inline-flex; justify-content: center; align-items: center; padding: 8px 16px; background-color: rgba(52, 152, 219, .6); border-radius: 6px; font-size: 16px; color: #101820; cursor: pointer;}
.button__index:hover{background-color: rgba(52, 152, 219, .8);}

/* DROPDOWN */
.dropdown{width: 100px; cursor: pointer; transition: .5s;}
.dropdown .dropdown__selected{display: flex; justify-content: space-between; align-items: center; width: 100%; height: 40px; padding: 0 16px; background-color: rgba(255, 255, 255, .7); border-radius: 5px; transition: .5s;}
.dropdown .dropdown__list{background-color: rgba(255, 255, 255, .9); border-radius: 5px; position: absolute; top: 45px; left: 0; right: 0; z-index: 99; opacity: 0; visibility: hidden; transition: all .1s linear;}
.dropdown .dropdown__list .dropdown__list__item{margin: 8px 0; padding: 8px 16px; font-weight: 500; transition: .5s;}
.dropdown .dropdown__list .dropdown__list__item:hover{background-color: #2d2d2d; color: #fff;}
/* rgba(180, 180, 180, 0.8) */

.dropdown:hover .dropdown__list{opacity: 1; visibility: visible;}
.dropdown__selected:hover{background-color: #2d2d2d;}
.dropdown__selected:hover .selected{color: #fff;}
.dropdown__selected:hover i{color: #fff;}

.dropdown.dropdown__rankingContainer{position: absolute; top: -60px; right: 160px;}
.dropdown.dropdown__userDetail{position: relative;}

/* INPUT */
.input__text{display: block; width: 330px; height: 40px; padding: 8px; background-color: #dfe6e9; border: none; border-radius: 4px;}
.input__underline{display: block; height: 36px; padding: 8px; background-color: transparent; border: none; border-bottom: 1px solid #2d2d2d;}

/* INPUT--FILTER */
.filter__rankingContainer{width: 130px; height: 40px; padding: 8px 16px; background-color: rgba(255, 255, 255, .7); border: none; border-radius: 5px; position: absolute; top: -60px; right: 20px;}
.filter__memberList{width: 130px; height: 40px; padding: 8px 16px; background-color: rgba(255, 255, 255, .7); border: none; border-radius: 5px; position: absolute; top: -60px; right: 80px;}

/* GAME LIST */
.games{margin-right: 16px;}
.games > .game{margin-bottom: 16px; padding: 8px; background-color: rgba(255, 255, 255, .9); border-radius: 4px;}
.games > .game .top{margin-bottom: 4px; font-size: 12px;}

.games > .game .bot .winner > span{display: block; width: 100%; font-size: 12px;}
.games > .game .bot .winner .winnerInfo{display: flex; justify-content: space-between; margin-bottom: 4px;}
.games > .game .bot .winner .winnerInfo .winnerNames{display: flex; flex-direction: column; min-width: 100px; margin-left: 8px;}
.games > .game .bot .winner .winnerInfo .winnerRatings{display: flex; flex-direction: column;}
.games > .game .bot .winner .winnerInfo .winnerRatings .icon__win{margin-left: 4px; color: #2ed573;}

.games > .game .bot .loser > span{display: block; width: 100%; font-size: 12px;}
.games > .game .bot .loser .loserInfo{display: flex; justify-content: space-between;}
.games > .game .bot .loser .loserInfo .loserNames{display: flex; flex-direction: column; min-width: 100px; margin-left: 8px;}
.games > .game .bot .loser .loserInfo .loserRatings{display: flex; flex-direction: column;}
.games > .game .bot .loser .loserInfo .loserRatings .icon__lose{margin-left: 4px; color: #ff4757;}

